<p id="notice"><%= notice %></p>

<h1>Clientes</h1>
<div class="col-md-12">
              <div class="card">

                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                          <tr>
                              <th>Nome</th>
                              <th>Email</th>
                              <th>Cpf</th>
                              <th>Telefone</th>
                              <th>Rg</th>
                              <th colspan="3">Acoes</th>
                            </tr>
                      </thead>
                      <tbody>
                        <% @clientes.each do |cliente| %>
                          <tr>
                            <td><%= cliente.Nome %></td>
                            <td><%= cliente.Email %></td>
                            <td><%= cliente.Cpf %></td>
                            <td><%= cliente.Telefone %></td>
                            <td><%= cliente.Rg %></td>
                            <td><%= link_to 'Mostrar', cliente,class: 'btn btn-primary' %></td>
                            <td><%= link_to 'Editar', edit_cliente_path(cliente),class: 'btn btn-warning' %></td>
                            <td><%= link_to 'Excluir', cliente, method: :delete, data: { confirm: 'Voce tem certeza em deletar o Cliente'  << cliente.Nome  << '?' },class: 'btn btn-danger' %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>



<%= link_to 'Novo Cliente', new_cliente_path, class: 'btn btn-primary'%>
